/* From Uiverse.io by sahilxkhadka */
.cloudCard-one {
  width: 250px;
  height: 184px;
  position: relative;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  right: 230px;
  transform: scale(0.8);
  transition: transform 0.35s ease-in-out;
}
.cloudCard-one:hover {
  transform: scale(0.85);
}
.cloudCard-two:hover {
  transform: scale(0.85);
}

.cloudBackground-one {
  fill: linear-gradient(90deg, #5936b4 0%, #362a84 100%);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.cloudBackground-two {
  fill: linear-gradient(90deg, #5936b4 0%, #362a84 100%);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.cloud-one {
  position: absolute;
  left: 0;
  top: -60px;
}

.cloud-two svg {
  height: 120px;
}

.cloud-two {
  position: absolute;
  right: 0;
  top: -12px;
}

.cloud-one svg {
  height: 120px;
}

.cloudCard .main-text {
  font-size: 48px;
  z-index: 2;
}

.cloudCard .info {
  display: flex;
  justify-content: space-between;
}

.cloudCard .info .text-gray {
  color: rgba(235, 235, 245, 0.6);
}

.cloudCard .info .info-right {
  align-self: flex-end;
}

.cloudCard-two {
  width: 342px;
  height: 184px;
  position: relative;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  right: 50px;
  transform: scale(0.8);
  transition: transform 0.35s ease-in-out;
}
