@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Great+Vibes&family=Dosis:wght@200..800&family=Satisfy&family=Outfit:wght@100..900&family=Jim+Nightshade&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

@import "tailwindcss";

body {
  @apply bg-linear-to-r from-emerald-100 to-purple-100;
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-rethik: "Rethink Sans", sans-serif;
  --font-dosis: "Dosis", sans-serif;
  --font-satisfy: "Satisfy", cursive;
  --font-caveat: "Caveat", cursive;
  --font-vibes: "Great Vibes", cursive;
  --font-jim: "Jim Nightshade", cursive;
}

